<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Regresar
      </ion-button>
    </ion-buttons>
    <ion-title>Fotografiar Receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="camera-modal-container">
    <div *ngIf="isDesktop && videoStreamActive" class="video-preview">
      <video #video autoplay></video>
    </div>

    <div *ngIf="!imageUrl">
      <ion-button expand="block" (click)="takePhoto()" class="icon-button">
        <ion-icon name="camera" slot="icon-only"></ion-icon>
      </ion-button>
    </div>

    <div *ngIf="imageUrl" class="image-preview">
      <img [src]="imageUrl" alt="Foto tomada" />
      <div class="button-container">
        <ion-button expand="block" (click)="saveToGallery()" class="icon-button">
          <ion-icon name="download" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button expand="block" (click)="shareImage()" class="icon-button">
          <ion-icon name="share" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
