<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón para regresar al Panel de Control -->
      <ion-button [routerLink]="['/panel-control']">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Regresar
      </ion-button>
    </ion-buttons>
    <ion-title>Consultas Pasadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Consultas anteriores</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let cita of citasPasadas">
      <ion-avatar slot="start" *ngIf="cita.imagenUrl">
        <img [src]="cita.imagenUrl" alt="Imagen de la cita" />
      </ion-avatar>
      <ion-label>
        <h2>{{ cita.fechaHora | date: 'dd MMM yyyy, h:mm a' }}</h2>
        <p *ngIf="!cita.imagenUrl">No se proporcionó una imagen para esta consulta.</p>
      </ion-label>
      <ion-button (click)="agregarImagen(cita.id)" color="primary" size="small">
        <ion-icon slot="start" name="camera"></ion-icon>Agregar Imagen
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
